{% extends "admin/change_list.html" %} 
<script type="text/javascript">
	var prev;
	$(document).ready(function(){
	$("#id_monster_variable_kind_id").change(function(){
		getDefaultValueWidget();
	});
		prev = $("#id_default_value").prev();
		value = $("#id_default_value").val();
		getDefaultValueWidget();
	});
	function getDefaultValueWidget(){
		$("#id_default_value").remove();
	
	var tmp=$("#id_monster_variable_kind_id").val();
	$.ajax({
   type: "POST",
   url: "/tcgcreator/get_monster_kind_type/",
   data: "delete_flag=0&monster_variable_kind_id="+tmp,
success: function(data){
		prev.after(data);
		$("#id_default_value").val(value);
        } 
	})
		
	}
</script>
