{% extends "admin/change_form.html" %} 
{% block footer %}
<div id="monster_effect_change_turn" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
<select id="monster_change_turn">
</select>
<input type="button" value="追加" onclick="putMonsterEffectChangeTurn()">
</div>
<div id="monster_effect_phase_move" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
<select id="monster_change_phase">
</select>
<input type="button" value="追加" onclick="putMonsterEffectMovePhase()">
</div>
<div id="variable_change" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
<div style="background-color:#EEEEFF;height:15px;text-align:center">条件</div>
<select id="variable_name">
</select>
<select id="variable_who">
<option value="0">共通</option>
<option value="1">自分</option>
<option value="2">相手</option>
</select>
<div id="variable_change_main">
<select id="variable_change_kind" onchange="getVariableChangeKind(this.value)">
<option value="0">変数変更</option>
</select>
<select id="variable_change_how">
<option value="0">増やす</option>
<option value="1">減らす</option>
<option value="2">指定</option>
</select>
<input type="text" id="variable_change_val" onfocus="showVariableEquation()">
<input type="button" value="追加" onclick="putVariableChange()">
</div>
</div>
</div>
<div id="trigger_condition" style="width:50%;min-height:200px;background-color:white;border:1px solid #000000;display:none">
    <div id="trigger_condition_variable_condition_tab" style="display;none">
        <div id="trigger_condition_variable_1">
    <select id="trigger_condition_kind" onchange="getConditionKind('trigger_condition',this.value,100,0)">
        <option >選択</option>
        <option value="0">場所</option>
        <option value="2">変数</option>
    </select>
            <div id="trigger_condition_variable_condition_tab" style="display;none">
                <div id="trigger_condition_variable_1">
                    <input type="text" id="trigger_condition_variable_condition_1" class="variable_condition" style="">
                    <select id="trigger_condition_variable_condition_equation_1" class="variable_condition" style="">
                        <option value="=">=</option>
                        <option value="<=">&lt;=</option>
                        <option value=">=">&gt;=</option>
                        <option value="!=">!=</option>
                    </select>
                    <select id="trigger_condition_variable_condition_add_1" onchange="addVariable('trigger_condition',1)" class="variable_condition" style="">
                        <option value=""></option>
                        <option value="and">かつ</option>
                        <option value="or">または</option>
                    </select>
                    <input type="text" id="trigger_condition_variable_equation_val_1" onfocus="showMonsterEquation('triggeer_condition_variable_equation_val_1')">
                    <input type="button" value="追加" onclick="addVariableCondition('trigger_condition',1)">
                </div>
            </div>
        </div>
    </div>
<div id="trigger_condition_who_choose" style="display:none">
<input type="button" value="自分" onclick="displayConditionAll('trigger_condition',0)" class="active" id="">
<input type="button" value="相手" onclick="displayConditionAll('trigger_condition',1)" class="active" id="">
</div>
<div id="trigger_condition_place_tab" style="display:none">
<input type="button" value="1" onclick="displayConditionAll('trigger_condition',0)" class="active" id="trigger_condition_all_button_0"><input id="trigger_condition_all_add_button_0" type="button" value="追加" onclick="addConditionPlaceAll('trigger_condition',0)">
<div id="choose_trigger_condition_0">
<input type="button" value="条件1" onclick="displayCondition('trigger_condition',0,1)" class="active" id="trigger_condition_button_0_1"><input type="button" value="追加" id="trigger_condition_add_button_0_1" onclick="addConditionPlace('trigger_condition',0,1)"><br>
<select id="trigger_condition_place_0_0" class="trigger_condition_place" style="display:none">
</select>
<select id="trigger_condition_place_add_0_0" onchange="addPlace('trigger_condition_place',0,1)" class="trigger_condition_place" style="display:none">
<option value=""></option>
<option value="and">かつ</option>
<option value="or">または</option>
</select>
</div>
<div id="trigger_condition_0_1">
	</div>
カード有無<input type="checkbox" id="monster_exist" value="1">
<div id="trigger_condition_field_x_and_y_0">
</div>
<div id="trigger_condition_equation_0" class="trigger_condition_equation" style="display:none"></div>
</div>
<div id="as_trigger_condition_wrapper_0">
as<input type="text" id="as_trigger_condition_0">
</div>
<div id="monster_variable_change">
変数変更名<input type="text" id="monster_variable_change_name_0">
<select id="monster_variable_change_how_0">
<option value="0">増やす</option>
<option value="1">減らす</option>
<option value="2">指定</option>
</select>
<input type="text" id="monster_variable_change_val_0" onfocus="showMonsterVariableEquation(0)"><input type="button" onclick="addMonsterVariableChange(0)" class="add_button_monster_variable_change" value="追加" id="add_button_monster_variable_change_0">
</div>
<div type="text" id="monster_effect_move_to" style="display:none">
as <input type="text" id="as_monster_effect_to">
フィールドx位置<input id="monster_effect_field_x_to" >
フィールドy位置<input id="monster_effect_field_y_to" >
</div>
<div id="monster_effect_place_to" style="display:none">
<select id="monster_effect_place_1_to" class="monster_effect_place" onchange="getWhetherIsFieldTo('monster_effect',this.value)">
</select>
<select id="monster_effect_move_how_to">
<option value="0">上に</option>
<option value="1">下に</option>
<option value="2">ランダム</option>
</select>
</div>
<input type="button" value="追加" onclick="putCondition('trigger_condition',3,'monster_effect')">
</div>
</div>
</div>
	
<div id="equation_editor" style="width:100%;background-color:blue;border:1px solid #000000;display:none">
    <select id="equation_editor_global_val" >
    </select>
    <input type="button" value="変数追加" onclick="putGlobalVariableToEquation()">
    <br>
<select id="equation_editor_place" onchange="showIfEditorPlaceIsField()">
</select>
<select id="editor_place_is_designated" style="display:none" onchange"showXandYForEditorPlace()">
<option value="1">指定</option>
<option value="0">指定しない</option>
</select>
x<input type="text" id="equation_editor_x" style="display:none">
y<input type="text" id="equation_editor_y" style="display:none">
<input type="button" value="場所追加" onclick="putPlaceToEquation()">
<br>
<input type="text" id="equation_editor_det"><input type="button" value="追加" onclick="putEquation()">
</div>
<div id="shuffle" style="display:none">
<select id="monster_effect_shuffle_place" class="monster_effect_shuffle_place" ></select><br>
<input type="button" value="追加" onclick="putShuffle('id_monster_effect')">
</div>
<div id="raise_trigger" style="display:none">
<select id="monster_effect_raise_trigger" class="monster_effect_raise_trigger" ></select><br>
<input type="button" value="追加" onclick="putRaiseTrigger('id_monster_effect')">
</div>
<div id="clear" style="display:none">
<select id="clear_place" class="clear_place" ></select><br>
<input type="button" value="追加" onclick="putClear()">
</div>
<div id="monster_effect_change_timing" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
<select id="monster_change_timing">
</select>
<input type="button" value="追加" onclick="putMonsterEffectChangeTiming()">
</div>
<div id="monster_effect_timing_variable" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
    変数名<input type="text" id="timing_variable_org_monster">
    as<input type="text" id="timing_variable_monster">
    <input type="button" value="追加" onclick="putMonsterEffectTimingToVariable()">
</div>
{% endblock %}
