{% extends "admin/change_form.html" %} 
{% block admin_change_form_document_ready %}
{{ block.super}}
<script type="text/javascript" src="/static/js/jquery-2.2.0.min.js "></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
<script type="text/javascript">
	var monster_item_number = {% if monster_item_number %}{{monster_item_number}}{% else %} 0 {% endif %};
	var prev;
	$(document).ready(function(){
	$("#id_monster_variable_kind_id").change(function(){
		getDefaultValueWidget();
	});
		prev = $("#id_default_value").prev();
		value = $("#id_default_value").val();
	//	getDefaultValueWidget();
	});
	function getDefaultValueWidget(){
		$("#id_default_value").remove();
	
	var tmp=$("#id_monster_variable_kind_id").val();
	
	$.ajax({
   type: "POST",
   url: "/tcgcreator/get_monster_kind_type/",
   data: "delete_flag=0&monster_variable_kind_id="+tmp,
success: function(data){
		prev.after(data);
		$("#id_default_value").val(value);
        } 
	})
		
	}
</script>
{% endblock %}
