{% extends "admin/change_form.html" %} 
{% block footer %}
<div id="trigger_condition" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
	<div style="background-color:#EEEEFF;height:15px;text-align:center">条件</div>
	<div id="trigger_condition_main">
		<div id="trigger_condition_tab" >
			<select id="trigger_condition_kind" onchange="getConditionKind('trigger_condition',this.value,100,0)">
			<option >選択</option>
<option value="0">場所</option>
<option value="2">変数</option>
</select>
<div id="trigger_condition_variable_condition_tab" style="display;none">
    <div id="trigger_condition_variable_1">
	<input type="text" id="trigger_condition_variable_condition_1" class="variable_condition" style="">
	<select id="trigger_condition_variable_condition_equation_1" class="variable_condition" style="">
	<option value="=">=</option>
	<option value="<=">&lt;=</option>
	<option value=">=">&gt;=</option>
	<option value="!=">!=</option>
	</select>
	<select id="trigger_condition_variable_condition_add_1" onchange="addVariable('trigger_condition',1)" class="variable_condition" style="">
	<option value=""></option>
	<option value="and">かつ</option>
	<option value="or">または</option>
	</select>
	<input type="text" id="trigger_condition_variable_equation_val_1" onfocus="showMonsterEquation('triggeer_condition_variable_equation_val_1')">
    <input type="button" value="追加" onclick="addVariableCondition('trigger_condition',1)">
    </div>
</div>
<div id="trigger_condition_place_tab" style="display:none">
<input type="button" value="1" onclick="displayConditionAll('trigger_condition',0)" class="active" id="trigger_condition_all_button_0"><input id="trigger_condition_all_add_button_0" type="button" value="追加" onclick="addConditionPlaceAll('trigger_condition',0)">
<div id="choose_trigger_condition_0">
<input type="button" value="条件1" onclick="displayCondition('trigger_condition',0,1)" class="active" id="trigger_condition_button_0_1"><input type="button" value="追加" id="trigger_condition_add_button_0_1" onclick="addConditionPlace('trigger_condition',0,1)"><br>
<select id="trigger_condition_place_0_0" class="trigger_condition_place" style="display:none">
</select>
<select id="trigger_condition_place_add_0_0" onchange="addPlace('trigger_condition_place',0,1)" class="trigger_condition_place" style="display:none">
<option value=""></option>
<option value="and">かつ</option>
<option value="or">または</option>
</select>
<div id="trigger_condition_0_1">
	</div>
<div id="trigger_condition_field_x_and_y_0">
</div>
<div id="trigger_condition_equation_0" class="trigger_condition_equation" style="display:none"></div>
</div>
<div id="as_trigger_condition_wrapper_0">
as<input type="text" id="as_trigger_condition_0">
</div>
</div>
</div>
</div>
<input type="button" value="追加" onclick="putCondition()">
</div>
<div id="timing" style="width:50%;min-height:200px;display:none;background-color:white;border:1px solid #000000">
<div style="background-color:#EEEEFF;height:15px;text-align:center">条件</div>
<div id="timing_main">
<select id="timing_phase" class="timing_phase">
</select>
	</div>
<input type="button" value="追加" onclick="putTiming()">
</div>
    <div id="equation_editor" style="width:30%;background-color:white;border:1px;display:none">
        <select id="equation_editor_global_val" >
        </select>
        <input type="button" value="変数追加" onclick="putGlobalVariableToEquation()">
        <br>
<select id="equation_editor_place" onchange="showIfEditorPlaceIsField()">
</select>
<select id="editor_place_is_designated" style="display:none" onchange"showXandYForEditorPlace()">
<option value="1">指定</option>
<option value="0">指定しない</option>
</select>
x<input type="text" id="equation_editor_x" style="display:none">
y<input type="text" id="equation_editor_y" style="display:none">
<input type="button" value="場所追加" onclick="putPlaceToEquation()">
<br>
<input type="text" id="equation_editor_det"><input type="button" value="追加" onclick="putEquation()">
</div>
	
{% endblock %}
