{% load static %}
<html>
<head>
<style>
</style>
<meta charset="UTF-8"/> 
<body>
<img style="height:100%" src="{% get_static_prefix %}/img/{{ img_url }}">
<!-- 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7991794779543930"
     data-ad-slot="9741990400"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
</body>
</html>
