{% load static %}
<html>
<head>
<style>
table {
	width:50%;
	text-align:center;
	background-color:#fffff0;
}
table td {
	border:1px solid black;
	padding:0px ;
	margin:0px ;
}
</style>
<meta charset="UTF-8"/> 
<body>
<table>
	{% for deck_obj in decks_obj %}
<tr>
<td><a target="_blank" href="{% url 'explain'%}?id={{deck_obj.id}}">{{deck_obj.monster_name}}</td>
</tr>
{% endfor %}
</table>
<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7991794779543930"
     data-ad-slot="9741990400"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
</body>
</html>
