<a name="brief"></a>
<h3>概要</h3><br>
<br>
<div>このゲームはカードルさんが作ったカードルをスモモンガーがオンラインゲーム化したものです。。
<br>
<b>1．詳しいルール<br></b>
詳しいルールはカードルの本ページ(<a href="https://cardoltcg.wixsite.com/cardol-official">こちら</a>)を参照してください。
<br>
<a name="name"></a>
<b>2．ユーザー登録<br></b>
<table><tr><td>
<img src="img/register.png">
</td><td>
まず、ゲームで遊ぶにはユーザー登録をします。
ユーザーIDは半角英数で入力してください。
ユーザ名はデュエルで使われる名前です。
パスワードは半角英数で入力してください。重要なサイト（銀行など）と同じパスワードにしないでください。
</td></tr></table>
<a name="deck"></a>
<b>3．デッキ構築<br></b>
<br>
　左側がカード一覧です。チェックボックスにチェックして「実行」を押すと、右側のデッキにカードが入ります。<br>
　右側が現在のデッキです。チェックボックスにチェックして「実行」を押すと、そのカードが消えます。<br>
<br>
　その右はカード名の検索です。入力欄に文字列を入力して「実行」を押すと、名前にその文字列を含むカードを表示します。<br>
<br>
　一番上はデッキを選びます。またデッキ名に名前を入れて新規作成を押すと新しいデッキを作成できます。
<br>
その下はカードの検索です。モンスター名でカードの名前を検索できます。またモンスター種類でカードの種類を検索できます。
<br>
現状ファンカードデッキは変更不可能です。（編集はできますが、内容を変えるとデュエルできません。
<br>
イベントカードは各種一枚、アイドルカードも各種一枚、楽曲カードは各種３枚まで入れられます。
<a name="duel"></a>
<b>4．デュエル<br></b>
<br>
　画面左にターンプレイヤー・デッキ・エクストラデッキ、残り時間、右側に現在のフェイズ、ボルテージ、得点が表示されます<br>
　中央がフィールドゾーン、手札、使用ずみ楽曲リスト、獲得ファンです。<br>
<br>
<a name="maligan">
<b>ゲーム開始<br></b>
最初にデッキからアイドルカードを3枚選びます。その後デッキから4枚ドローします。
<br>
<a name="stanby"></a>
<b>・スタンバイフェイズ<br></b>
    メインデッキから一枚ドローします。アクティブ状態のアイドルがレストになります。
<br>
<a name="main"></a>
<b>・メインフェイズ<br></b>
以下の三つから行動します。
    楽曲カードの使用。
    イベントカードの使用
    アイドルゾーンの楽曲カードを入れ替える。
<br>
<a name="end"></a>
<b>・エンドフェイズ<br></b>
    楽曲をメインフェイズに使用していない場合、ボルテージが２０下がります。
<br>
<a name="gameend"></a>
<b>ゲーム終了条件<br></b>
   どちらかの獲得ファンの得点が１５点以上になるか、どちらかのボルテージが０％以下になると終了です。
<br>
<a name="taisen"></a>
<b>対人対戦<br></b>
<ul>
<li>先攻はランダムに決められます。</li>
<li>相手が来る前に落ちる場合は、退出ボタンを押してください。<br>
</li><li>自分のターンでは300秒以内に行動しないと時間切れで負けになります<br>
</li><li>相手のターンでは効果を行使できる状態で300秒いないに行動しないと時間切れで負けになります<br>
</li></ul>
<br>
<br>
<a style="font-size:16px;" href="./makedeck.php">デッキ構築</a>
<a style="font-size:16px;" href="./index.php">戻る</a>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- スモモンガーのページ別館広告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7991794779543930"
     data-ad-slot="9741990400"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
