{% load static %}
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/ajax.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    setTimeout(Reload,5000);
	});
	function Reload(){
	    switch({{room_number}}){
	        case 1:
    	        location.href = "{% url 'init_battle1' %}";
    	        break;
	        case 2:
    	        location.href = "{% url 'init_battle2' %}";
    	        break;
	        case 3:
    	        location.href = "{% url 'init_battle3' %}";
    	        break;
    	}

	}
	function sendLeave(){
	    switch({{room_number}}){
	        case 1:
    	        location.href = "{% url 'leave_battle1' %}";
    	        break;
	        case 2:
    	        location.href = "{% url 'leave_battle2' %}";
    	        break;
	        case 3:
    	        location.href = "{% url 'leave_battle3' %}";
    	        break;
    	}
	}
</script>
</head>
<body>
対戦相手を待っています。
<input type="button" value="落ち" onclick="sendLeave()">
<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7991794779543930"
     data-ad-slot="9741990400"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
</body>
</html>
